.nav {}
.nav-menu {}
.nav-menu__list:not(:last-child) {
    margin-right: 25px;
}
.nav-menu__item__link {
    color: $color-dgray;
}
.acc-menu {}
.acc-menu__link {
    position: relative;
    margin-right: 10px;
    color: $color-green;
    font-family: 'Lato';
    font-size: 22px;
    .env-unread {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        background-color: $color-green;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        line-height: 1.5;
        font-size: 9px;
        color: #fff;
        position: absolute;
        top: -2px;
        right: -6px;
    }
}
.currency {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
    height: 25px;
    width: 35px;
    border: 1px solid $color-green;
    border-radius: 3px;
    .c-down {
        margin-left: 5px;
        font-size: 12px;
    }
}
.avatar {
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  font-size: 50px;
  overflow: hidden;
  color: #fff;
  background-color: #d7d7d7;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}
.profile {
  position: relative;
}
.profile-menu {
  position: absolute;
  right: 30px;
  border: 1px solid #d2d8d6;
  border-radius: 5px;
}
.profile__item {
  &:not(:first-child) {
    border-top: 1px solid #d2d8d6;
  }
  }
.profile__item__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 48px;
  width: 215px;
  padding: 15px 35px 15px 62px;
  color: $color-black;
  transition: color .2s ease-out;
  &:before {
  position: absolute;
  font-family: "FontAwesome";
  font-size: 20px;
  left: 20px;
  color: $color-green;
}
&:hover {
  color: $color-green;
}
}
.p-history:before {
    content: "\f09d";
}
.profile:before {
    content: "\f0c0";
}
.logout:before {
    content: "\f08b";
    font-size: 25px;
    line-height: 0.8;
}
