.social {
  padding: 0 35px;
}
.social__li {
  display: inline-block;
}
.social__li__link {
  color: #fff;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  &:before {
    position: absolute;
    font-family: "FontAwesome";
    font-size: 17px;
    color: #fff;
  }
}
.in {
  background-color: $color-in;
  &:before {
    content: "\f0e1";
    left: 6px;
    top: 3px;
  }
}
.fb {
  background-color: $color-fb;
  &:before {
    content: "\f09a";
    left: 8px;
    top: 4px;
  }
}
.tw {
  background-color: $color-tw;
  &:before {
    content: "\f099";
    left: 5px;
    top: 3px;
  }
}
.search {
  font-size: 15px;
  font-family: "Cabin";
  font-weight: bold;
  width: 290px;
  padding: 8px 35px 8px 15px;
  border: 1px solid #8cd8cb;
  border-radius: 5px;
  background: url("/assets/img/search.svg") no-repeat;
  background-size: 22px;
  background-position: 97%;
}

.course-card {
  .social {
    float: right;
    padding: 0px 15px;
    margin: 0 0 10px;
    .social__li__link {
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 3px;
      background-color: #f4f4f4;
      position: relative;
      text-align: center;
      &:before {
        position: absolute;
        font-family: "FontAwesome";
        font-size: 17px;
      }
    }
    .in {

      &:before {
        color: $color-in;
        content: "\f0e1";
        left: 6px;
        top: 3px;
      }
    }
    .fb {
      &:before {
        color: $color-fb;
        content: "\f09a";
        left: 8px;
        top: 4px;
      }
    }
    .tw {

      &:before {
        color: $color-tw;
        content: "\f099";
        left: 5px;
        top: 3px;
      }
    }
  }
}
