@import "https://fonts.googleapis.com/css?family=Cabin:400,500,700,800|Lato:300,400|Source+Sans+Pro:400,700&subset=latin-ext";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button,
input {
  outline: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  padding-left: 0;
}

button {
  border: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.66666667%;
  }

  .col-sm-push-10 {
    left: 83.33333333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-push-7 {
    left: 58.33333333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.66666667%;
  }

  .col-sm-push-4 {
    left: 33.33333333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.66666667%;
  }

  .col-sm-push-1 {
    left: 8.33333333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.66666667%;
  }

  .col-md-pull-10 {
    right: 83.33333333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.66666667%;
  }

  .col-md-pull-7 {
    right: 58.33333333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.66666667%;
  }

  .col-md-pull-4 {
    right: 33.33333333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.66666667%;
  }

  .col-md-pull-1 {
    right: 8.33333333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-push-11 {
    left: 91.66666667%;
  }

  .col-md-push-10 {
    left: 83.33333333%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-8 {
    left: 66.66666667%;
  }

  .col-md-push-7 {
    left: 58.33333333%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-5 {
    left: 41.66666667%;
  }

  .col-md-push-4 {
    left: 33.33333333%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-2 {
    left: 16.66666667%;
  }

  .col-md-push-1 {
    left: 8.33333333%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-push-11 {
    left: 91.66666667%;
  }

  .col-lg-push-10 {
    left: 83.33333333%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-8 {
    left: 66.66666667%;
  }

  .col-lg-push-7 {
    left: 58.33333333%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-5 {
    left: 41.66666667%;
  }

  .col-lg-push-4 {
    left: 33.33333333%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-2 {
    left: 16.66666667%;
  }

  .col-lg-push-1 {
    left: 8.33333333%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.invisible {
  visibility: hidden;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: #fff;
  font-family: 'Cabin', sans-serif;
  height: 72px;
  box-shadow: 2px 0 8px rgba(0,0,0,0.3);
}

.header .header-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  max-width: 95%;
  margin: 0 auto;
}

.header .avatar,
.header .profile,
.header .nav-menu,
.header .acc-menu {
  display: inline-block;
  vertical-align: middle;
}

.header nav {
  margin-left: auto;
}

.header .logo {
  display: inline-block;
  width: 220px;
}

.nav li {
  display: inline-block;
  vertical-align: middle;
}

.wrapper {
  max-width: 1200px;
  margin: 72px auto 0;
  font-family: "Cabin";
}

.social {
  padding: 0 35px;
}

.social__li {
  display: inline-block;
}

.social__li__link {
  color: #fff;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  text-align: center;
}

.social__li__link:before {
  position: absolute;
  font-family: "FontAwesome";
  font-size: 17px;
  color: #fff;
}

.in {
  background-color: #0177b5;
}

.in:before {
  content: "\f0e1";
  left: 6px;
  top: 3px;
}

.fb {
  background-color: #3c5a99;
}

.fb:before {
  content: "\f09a";
  left: 8px;
  top: 4px;
}

.tw {
  background-color: #5ea9dd;
}

.tw:before {
  content: "\f099";
  left: 5px;
  top: 3px;
}

.search {
  font-size: 15px;
  font-family: "Cabin";
  font-weight: bold;
  width: 290px;
  padding: 8px 35px 8px 15px;
  border: 1px solid #8cd8cb;
  border-radius: 5px;
  background: url("../../assets/img/search.svg") no-repeat;
  background-size: 22px;
  background-position: 97%;
}

.course-card .social {
  float: right;
  padding: 0px 15px;
  margin: 0 0 10px;
}

.course-card .social .social__li__link {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  background-color: #f4f4f4;
  position: relative;
  text-align: center;
}

.course-card .social .social__li__link:before {
  position: absolute;
  font-family: "FontAwesome";
  font-size: 17px;
}

.course-card .social .in:before {
  color: #0177b5;
  content: "\f0e1";
  left: 6px;
  top: 3px;
}

.course-card .social .fb:before {
  color: #3c5a99;
  content: "\f09a";
  left: 8px;
  top: 4px;
}

.course-card .social .tw:before {
  color: #5ea9dd;
  content: "\f099";
  left: 5px;
  top: 3px;
}

.nav-menu__list {
  margin-right: 25px;
}

.nav-menu__item__link {
  color: #4e5e6a;
}

.acc-menu__link {
  position: relative;
  margin-right: 10px;
  color: #22baa0;
  font-family: 'Lato';
  font-size: 22px;
}

.acc-menu__link .env-unread {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: #22baa0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  line-height: 1.5;
  font-size: 9px;
  color: #fff;
  position: absolute;
  top: -2px;
  right: -6px;
}

.currency {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  height: 25px;
  width: 35px;
  border: 1px solid #22baa0;
  border-radius: 3px;
}

.currency .c-down {
  margin-left: 5px;
  font-size: 12px;
}

.avatar {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  font-size: 50px;
  overflow: hidden;
  color: #fff;
  background-color: #d7d7d7;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.avatar .c-down {
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 15px;
  right: -20px;
  position: absolute;
  color: #393941;
  font-size: 12px;
}

.profile {
  position: relative;
}

.profile-menu {
  position: absolute;
  top: 42px;
  right: -10px;
  background-color: #fff;
  border: 1px solid #d2d8d6;
  border-radius: 5px 0 5px 5px;
  box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.1);
}

.profile-menu:before {
  content: "";
  position: absolute;
  right: -1px;
  top: -14.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 13px 17px;
  border-color: transparent transparent #d2d8d6 transparent;
}

.profile-menu:after {
  content: "";
  position: absolute;
  right: 0;
  top: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 12px 16px;
  border-color: transparent transparent #fff transparent;
}

.profile__item:not(:first-child) {
  border-top: 1px solid #d2d8d6;
}

.profile__item__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 48px;
  width: 215px;
  padding: 15px 35px 15px 62px;
  color: #2e2e37;
  transition: color 0.2s ease-out;
}

.profile__item__link:before {
  position: absolute;
  font-family: "FontAwesome";
  font-size: 20px;
  left: 20px;
  color: #22baa0;
}

.profile__item__link:hover {
  color: #22baa0;
}

.p-history:before {
  content: "\f09d";
}

.my-profile:before {
  content: "\f0c0";
}

.logout:before {
  content: "\f08b";
  font-size: 25px;
  line-height: 0.8;
}

.courses .total-results {
  font-weight: 400;
  color: #8c959b;
  font-size: 18px;
}

.course-card {
  margin-bottom: 35px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  border: 1px solid #f1f1f1;
}

.course-card__img {
  position: relative;
}

.course-card__img__info {
  position: absolute;
  bottom: -18px;
  height: 22px;
  width: 100%;
  background-color: #4e5e6a;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.stars {
  margin: 0;
  float: left;
  color: #fff;
  height: 100%;
  padding-left: 20px;
  font-size: 12px;
}

.stars ._active-star {
  color: #fcef00;
}

.stars .star {
  cursor: pointer;
  display: inline;
  vertical-align: middle;
}

.taking {
  font-size: 12px;
  color: #fff;
}

.taking-number {
  font-size: 12px;
  font-weight: 800;
  padding-right: 35px;
}

.taking-number:before {
  position: absolute;
  top: 3px;
  right: 20px;
  font-family: "FontAwesome";
  font-size: 14px;
  color: #ff809b;
  content: "\f007";
}

.course-card__info {
  padding: 15px 20px;
}

.course-card__info__row {
  border-bottom: 1px solid #f1f1f1;
}

.info-headl {
  font-size: 12px;
  color: #4e5e6a;
  margin: 13px 0 5px;
}

.info-text {
  color: #2e2e37;
}

.info-text,
.info-title {
  margin: 0 0 12px;
}

.green {
  color: #22baa0;
}

.price {
  font-size: 15px;
  color: #ff809b;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
  position: relative;
}

.price:before {
  content: "$";
  display: block;
  position: absolute;
  left: 7px;
  top: 33px;
}

.price .value {
  font-size: 30px;
  font-weight: bold;
  padding-left: 15px;
}

.green-button {
  border: none;
  cursor: pointer;
  background-color: #22baa0;
  color: #fff;
  font-size: 16px;
  width: 135px;
  height: 30px;
  border-radius: 4px;
}

.sidebar {
  position: fixed;
  z-index: 1;
  top: 72px;
  bottom: 0;
  width: 220px;
  min-height: 100vh;
  background-color: #292933;
  font-family: 'Lato';
}

.sidebar .sidebar__list {
  margin: 0;
}

.sidebar__item {
  border-bottom: 1px solid #131d27;
}

.sidebar__item__link {
  display: block;
  padding: 15px 20px;
  color: #fff;
  background-color: #2e2e37;
  transition: color .2s ease, background-color .2s ease;
}

.sidebar__item__link:hover {
  background-color: #393941;
  color: #22baa0;
}

._active-link {
  background-color: #393941;
  color: #22baa0;
}

.inner-list {
  position: absolute;
  top: 0;
  margin-left: 220px;
  height: 100%;
  background-color: #393941;
  z-index: 1;
}

.inner-list__item {
  border-bottom: 1px solid #303036;
}

.inner__list__item__link {
  display: block;
  width: 240px;
  padding: 12px 20px;
  color: #fff;
  transition: color .2s ease;
}

.inner__list__item__link:hover {
  color: #22baa0;
}

.inner-list__item__text {
  display: none;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  margin: 0 20px 12px 20px;
}

.sidebar-right {
  position: fixed;
  z-index: 1;
  top: 72px;
  bottom: 0;
  right: 0;
  width: 220px;
  min-height: 100vh;
  background-color: #4e5e6a;
  font-family: 'Source Sans Pro';
  color: #f7f7f7;
}

.sidebar-right button {
  background-color: #606e79;
  border-radius: 3px;
  color: #f7f7f7;
}

.category {
  padding: 20px 10px 30px 30px;
  border-bottom: 1px solid #838f97;
}

.hide-sidebar {
  cursor: pointer;
  height: 32px;
  width: 32px;
  margin: 10px;
  float: right;
  transition: background-color .2s ease;
}

.hide-sidebar:hover {
  background-color: #6b7b87;
}

.category__img-wrap {
  margin: 0 auto;
  width: 50%;
}

.category__name {
  font-size: 21px;
  text-align: center;
  margin: 0 0 10px;
}

.category__desc {
  font-size: 14px;
  margin: 0;
}

.salary {
  position: relative;
  display: block;
  width: 160px;
  height: 55px;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
  padding-left: 50px;
}

.salary:before {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 55px;
  top: 0;
  left: 0;
  background: url("../../assets/img/icons/arrows-sprite.png") no-repeat;
  border-right: 1px solid #4e5e6a;
}

.max:before {
  background-position: 12px 13px;
}

.min:before {
  background-position: 12px -42px;
}

.salary__value {
  padding-left: 8px;
  position: relative;
  font-weight: bold;
  font-family: "Source Sans Pro";
}

.salary__value:before {
  content: "£";
  position: absolute;
  left: 18px;
  top: 4px;
  font-size: 14px;
}

.green-bold {
  color: #22baa0;
  font-weight: bold;
  margin: 5px 0;
}

.search-courses {
  background-color: #f7f7f7;
}

.search-courses__form {
  font-weight: 500;
}

input[type=checkbox] {
  display: none;
}

.search-checkbox {
  display: block;
  position: relative;
  padding: 10px 10px 10px 40px;
}

.search-checkbox:before {
  cursor: pointer;
  content: "";
  display: block;
  top: 7px;
  left: 0;
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid #22baa0;
}

input[type=checkbox]:checked+.search-checkbox:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  color: #fff;
  font-size: 15px;
  background-color: #22baa0;
}

.irs {
  height: 50px;
}

.irs-bar {
  height: 6px;
  top: 25px;
  background-color: #22baa0;
}

.irs-slider {
  width: 22px;
  height: 22px;
  top: 17px;
  background-color: #fff;
  border: 1px solid #22baa0;
  border-radius: 50%;
}

.irs-line {
  background-color: #d2d8d6;
  height: 6px;
  top: 25px;
}

.irs-min,
.irs-max {
  color: #2e2e37;
  font-size: 15px;
  line-height: 1.333;
  text-shadow: none;
  top: 15px;
  padding: 2px 10px;
  background: #fff;
  border: 1px solid #22baa0;
  border-radius: 4px;
}

.irs-from,
.irs-to,
.irs-single {
  color: #2e2e37;
  font-size: 13px;
  line-height: 1.333;
  text-shadow: none;
  padding: 3px 8px;
  background: #fff;
  border-radius: 7px;
}

.irs-from,
.irs-to,
.irs-single {
  position: absolute;
  display: block;
  top: auto;
  bottom: -17px;
  left: 0;
  cursor: default;
  white-space: nowrap;
}

.irs-from:after,
.irs-to:after,
.irs-single:after {
  position: absolute;
  display: block;
  content: "";
  top: -10px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  overflow: hidden;
  border: 5px solid transparent;
  border-bottom-color: #fff;
}